*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
}

header{
    background-color: rgb(75, 201, 43);
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
}

.container{
    display: flex;
    min-height: 75vh;
}

aside{
    padding: 24px 32px;
}

.menu{
    position: sticky;
    top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.vr{
    width: 8px;
    background-color: rgb(75, 201, 43);
}

main{
    flex: 1;
}

form{
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 560px;
}

.form-control{
    display: flex;
    flex-direction: column;
}

.form-control label::after{
    content: ' *';
    color: red;
}

.form-control input{
    height: 40px;
    font-weight: inherit;
    font-family: inherit;
    padding: 0 8px;
}

.form-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-submit input{
    padding: 8px 16px;
}

.table-container{
    margin-top: 24px;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #d3d3d3;
}

table{
    height: 100%;
    width: 70%;
    cursor: pointer;;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}

th, td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4px 4px;
}

tbody tr:nth-child(odd){
    background-color: #eeeeee;
}

tbody tr:hover{
    background-color: #dddddd;
}

td button{
    padding: 4px 8px;
    font-size: 16px;
    font-family: inherit;
}

td:last-child{
    text-align: center;
}

td:nth-child(5){
    text-align: right;
}

footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px;
}

